*{
  box-sizing: border-box;
}
body{
  background: #000;
}
.container{
  display: flex;
  margin: 0;
  padding: 0;
}
#nav-carrusel{
  width: 100%;
  justify-content: center;
}
.imgCarrusel{
  width: 100%;
}
.menu{
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 15%;
  margin: 1%;
  background: white;
}
.carousel{
  width: 85%;
}
footer{
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.contenedor-iconos, .copyrigth{
  width: 20%;
  padding: 1.5%;
}
.redSocial{
  background: transparent;
  color: white;
  border: 2px solid #fff;;
  border-radius: 100px;
  padding: 2% 3% 2% 3%;
  margin: 20px 5px;
  font-size: 17px;
}
