*{
  margin: 0;
  padding: 0;
}
.center{
  text-align: center;
}
#galeria{
  width: 80%;
  background: #fff;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 3%;
}
.img-producto{
  padding: 10px 110px;
}

.producto{
  /*border: 1px solid black;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  width: 30%;
}

p{
  margin: 5px;
  text-align: center;
}

button{
  margin: 3px;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 0px solid #000000;
  height: 25px;
  background: green;
  color: #fff;
  padding: 1% 20%;
}
