*{
  margin: 0;
  padding: 0;
}

.center{
  text-align: center;
}

#galeria{
  width: 80%;
  background: #fff;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 3%;
}

.img-producto{
  padding: 10px 110px;
}

.producto{
  /*border: 1px solid black;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  width: 23%;
}

.producto:hover {
  opacity: 0.7;
  cursor: pointer;
}

p{
  margin: 5px;
  text-align: center;
}

button{
  margin: 3px;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 0px solid #000000;
  height: 25px;
  background: green;
  color: #fff;
  padding: 1% 20%;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

#imageZoom{
  background: #fff;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}
