
#registroBtn{
  justify-content: flex-end;
  width: 80%;
  float: right;
}
.derecha{
  width: 100%;
  justify-content: flex-end;
}
#registroBtn a{
  margin: .5%;
  margin-bottom: 0;
}
.menu-nav{
  position: fixed;
  height: 90%;
  margin-top: 2%;
  padding: 0;
}
#infoVol, #infoFond{
  width: 80%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  color: white;
  padding: 13%;
  margin: 2%;
}
#infoVol{
background-image: url(../img/voluntariado/voluntariado.jpg);
}

.hola{
  background-color: rgba(194, 140, 52 , 0.5);
  padding: 3%;
  text-align: center;
}
.hola a{
  margin-top: 5%;
}
#infoVol img{
  width: 50%;
}
h1{
  color: white;
  text-align: center;
}
.boton{
  text-decoration: none;
  color: #133503;
  border: 2px solid #0e4812;
  padding: 1% 3%;
  margin-top: 3%;
}
.boton:hover{
  color: white ;
  border: 2px solid gray;
  background-color: green;
}
#formulario{
  margin: 2%;
  background: #fff;
  flex-direction: column;
  width: 80%;
  align-items: center;
  padding: 3%;
}
#formulario input,textarea{
  text-align: center;
  margin: 1%;
  border: 0;
  border-top: 1px solid gray;
  width: 50%;
  padding: .5%;
}
textarea{
  border-bottom: 1px solid gray;
}
.nosotros{
  color: white;
}

/*FONDEO*/

#infoFond{
  background-image: url(../img/fondeo/fondeo.jpeg);
}
#infoFond .caja-texto{
  background-color: rgba(112, 123, 124,0.5);
  padding: 3%;
  text-align: center;
}
.caja-texto .texto{
  margin: 1%;
}
#recompensas{
  background: #fff;
  width: 80%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1%;
  margin: 2%;

}
